version: '3.8'
services:
  backend:
    build:
      context: ./backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      # Override the localhost configs for Docker network
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/elguindyDB
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=1234
      - CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
      # PDF assets path
      - APP_ASSETS_PATH=/app/assets
    depends_on:
      - postgres
    volumes:
      - ./assets:/app/assets

  postgres:
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: elguindyDB
    volumes:
      - elguindy_pg_data:/var/lib/postgresql/data

volumes:
  elguindy_pg_data:
